.App {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #6515DD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: calc(24px + 2vmin);
  color: black;
  
    /* these will reset other properties, like background-position, but it does know what you mean */
    background: #6515DD;
}

.App-link {
  color: #09d3ac;
}
